<!--订单列表开始-->

<div class="dingdan-list-wrap">
	<div class="dingdan-youhuo">猜你喜欢</div>
	<% for(var a in data){ %>
	<a href="<%= data[a].url %>" class="dingdan-list-a">
		<div class="dingdan-list">
			<span class="dd-list-icon"></span>
			<div class="dd-list-img">
				<img class="imgload" data-original="<%= data[a].src %>"/>
			</div>

			<div class="dd-list-right">
				<div class="dd-list-title"><%= data[a].title %></div>
				<div class="dd-list-description"><%= data[a].description %></div>
				<div class="dd-list-price">
					<span class="strong"><%= data[a].num %></span>
					<span class="strong-color">元</span>
					<span class="tag"><%= data[a].tag %></span>
					<span class="line-right">已售<%= data[a].total %></span>
				</div>
			</div>
		</div>
	</a>
	<% }%>
</div>
<!--订单列表结束-->


	
